nav,footer{
    background-color: rgb(59, 47, 47);
}
.body{
    background-color: rgb(68, 50, 50);
}
 .themealdb button{
    color: rgb(56, 56, 101);
}
.latestmeals a, .themealdb a, .alph .letters a{
    color: rgb(163, 116, 29);
    text-decoration: none;
}
.latestmeals a:hover, .themealdb a:hover,.alph .letters a:hover{
    color: rgb(219, 192, 160);
}
.underline .line{
    width: 100%;
    height: 2px;
    background-color: white;
}
.latestmeals .meal{
    position: relative;
}
.latestmeals .meal .icon{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    opacity: 0;
    transition: all 0.5s linear;
    background-color: white;
    border-radius: 50%;
}
.latestmeals .meal:hover .icon{
    opacity: 1;
}

.loginpage{
    width: 100%;
    height: 100vh;
}
.loginformthemealdb form{
    border-radius: 13px;
    box-shadow: 0px 0px 10px black;
    animation: slide-in;
    animation-duration: 3s; 
    
}
@keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
    
  }
.loginformthemealdb form input{
    background-color: transparent;
    font-weight: bold;
    border: none;
    border-bottom: 2px solid black;
    
}
.loginformthemealdb form div{
    position: relative;

}

.loginformthemealdb form div i{
    position: absolute;
    top: 15px;
    right: 5px;
    opacity: 1;
}

.loginformthemealdb form input:focus{
    background-color: transparent;
    color: black;
    font-weight: bold;
    border-bottom: 2px solid black;
}
.loginformthemealdb h1{
    border-radius: 10px;
}

.loginformthemealdb a{
    font-size: 13px;
    text-decoration: none;
    font-weight: bold;
}
.loginformthemealdb a:hover{
    text-decoration: underline 1px;
    
}
nav {
    position: relative;
}
nav .down{
    display: none;
    position: absolute;
    top: 50px;
    right: 30px;
    transition: all .9s linear;
    font-size: 20px;
    border-radius: 13px;
    width: 300px;
    height: 15  0px;

}
nav .drop:hover .down{
    display: block;    
}
nav .drop{
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    margin-left: 20px;

}
/* ------------------------------------------------Strawberries---------------------- */

.Strawberries .flog img{
    width: 40px;
}
.Strawberries .Arrow img{
    width: 150px;
    height: 150px;
}
.Strawberries .Ingredients .img a{
    color: rgb(163, 116, 29);
}
.Strawberries .Ingredients .img a:hover{
    color: rgb(219, 192, 160);
}
.Strawberries .headline img{
    width: 40px;
}
/* -------------------------------footer-------------------------------------- */
footer .flag img{width: 20px;}
footer .links a{color: white;}
footer .links a:hover{color: greenyellow;}
footer .links a:focus{color: red;}
/* ------------------------searchforitems---------------------- */
.searchforitems input{
    outline: none;
    
}